<div class="about">
    <h3 appCustom>Documentation About Food</h3>
    <p  class="para">
        Extreme weather events, an unstable market and an ever-rising demand for fresh, affordable produce year round has created a perfect <br> storm in our food supply chain.

Eden Green was founded to solve these challenges and this next phase of growth is a critical stepping stone.”
— Eddy Badrina, CEO
    </p>
    <p class="para1">No matter which holidays you're celebrating this winter, we all have one thing in common: this is the season for food.

        Food has become an increasingly bigger part of pop culture over the past few years, being the focus of several super popular shows, documentaries and reality TV competitions. Whether you're an aspiring novice in the kitchen, looking for some inspiration for your baking duties this holiday season, or really want to change the way you think about what we eat and where it all comes from, we compiled 5 of the best food-related shows that not only share incredible recipes and techniques, but insights on the politics, culture, sourcing and ethics of all things food-related.
        
        Get ready to get hungry, and check out our favorites below!
     </p>
        
</div>
